<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz przesyłania pliku</title>
    <link rel="stylesheet" href="/static/styles/uploadForm.css">
</head>

<body>

<div class="loader" id="loader">Ładowanie
    <span></span>
</div>

<div class="formContainer" id="formContainer" th:unless="${fileUploaded}">
    <h2>Prześlij plik XML</h2>
    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
        <div id="drop-area" ondragover="allowDrop(event)" ondrop="handleDrop(event)" onclick="document.getElementById('fileInput').click()">
            Przeciągnij plik lub kliknij, aby dodać plik
            <input type="file" name="file" id="fileInput" style="display: none;" onchange="displayFileName()" />
        </div>
        <span id="fileName"></span>
        <br/><br/>
        <input type="submit" value="Prześlij plik" class="button" />
    </form>
    <br/>
    <a href="/">Powrót do strony głównej</a>
</div>
<div class="uploadInfo" id="uploadInfo" th:if="${fileUploaded}">
    <p th:text="'Wczytano ' + ${numberOfObjects} + ' obiektów z pliku.'"></p>
    <p id="uploadedFileName" th:text="${fileName}"></p>
    <a th:href="@{/table}" class="button">Przejdź do listy użytkowników</a>
</div>

<script>
    function showLoading() {
        document.getElementById("formContainer").style.display = "none";
        document.getElementById("loader").style.display = "block";
    }

    function allowDrop(event) {
        event.preventDefault();
        var dropArea = document.getElementById("drop-area");
        dropArea.classList.add("highlight");
    }

    function handleDrop(event) {
        event.preventDefault();
        var dropArea = document.getElementById("drop-area");
        dropArea.classList.remove("highlight");

        var fileInput = document.getElementById("fileInput");
        var files = event.dataTransfer.files;

        if (files.length > 0) {
            fileInput.files = files;
            displayFileName();
        }
    }

    function displayFileName() {
        var fileNameSpan = document.getElementById("fileName");
        var fileInput = document.getElementById("fileInput");

        if (fileInput.files.length > 0) {
            fileNameSpan.innerText = "Wybrany plik: " + fileInput.files[0].name;
        } else {
            fileNameSpan.innerText = "";
        }
    }
</script>
</body>
</html>
